.trashFav {
  position: absolute;
  content: "";
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #0f172a;

  transition: all 0.4s;
}
.trashFav:hover {
  transform: scale(1.2);
}
.favItem {
  top: 0;
  left: 0;
  font-family: "Poppins";
  width: 300px;
  position: relative;
  margin: 15px;
  border: 2px solid;
  border-radius: 15px;
  overflow: hidden;
}
